awscli
bash
bash-completion
cli53
cmake
dmd
docker
docker-machine
exa
gcc
git-secrets
go
jmeter
jq
minicom
mysql
openssl
packer
packer-completion
phplint
pyenv
pyenv-virtualenv
rbenv
shellcheck
telnet
tfenv
the_silver_searcher
tldr
wget
ykpers
